/Projects/*
/www/*
/.vagrant/*
/packer_cache
/output-virtualbox-iso
/puppet/.librarian
puppet/environments/box/modules/profiles/files/box/cli/scripts/vendor

/config.custom.yaml

/node_modules

/joomla-box-backup.tar