$icon-font-path: "../fonts/bootstrap/";

$navbar-inverse-bg:                         #fff;
$navbar-inverse-border:                     #eee;
$navbar-inverse-link-hover-color:           darken($navbar-inverse-link-color, 10%);
$navbar-inverse-brand-hover-color:          darken($navbar-inverse-link-color, 10%);