[Unit]
Description=Wetty Web Terminal
After=network.target

[Service]
Type=simple
User=vagrant
Group=vagrant
WorkingDirectory=/home/vagrant/
ExecStart=/usr/local/bin/wetty -p 3000 --sshauth publickey,password --sshuser vagrant
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target